---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="HD's Round Table: CSS Subgrid Example"
  mainNavConfiguration={{
    isBackLink: true,
    linkSource: "/subgrid",
    linkTitle: "Back",
  }}
>
  <div class="px-4 lg:px-12 max-w-screen-2xl grid lg:grid-cols-2 gap-12">
    <h1 class="font-light text-4xl !mb-0">Subgrid Example</h1>
    <div class="prose lg:row-start-2">
      <pre
        class="!mt-0"><code class="not-prose" is:raw>.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}</code></pre>
    </div>
    <section class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:row-start-2">
      {
        [...Array(6)].map((_, index) => {
          return (
            <div class="p-6 bg-slate-700 text-slate-300 aspect-square">
              {index + 1}
            </div>
          );
        })
      }
    </section>
  </div>
</Layout>
