---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="HD's Round Table: CSS Subgrid Example"
  mainNavConfiguration={{
    isBackLink: true,
    linkSource: "/subgrid",
    linkTitle: "Back",
  }}
>
  <h1 class="font-light text-4xl">Subgrid Example</h1>
  <pre><code class="not-prose" is:raw>.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}</code></pre>
</Layout>
