---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="HD's Round Table: CSS Subgrid Example"
  mainNavConfiguration={{
    isBackLink: true,
    linkSource: "/subgrid",
    linkTitle: "Back",
  }}
>
  <div
    class="px-4 max-w-screen-2xl mx-auto grid lg:grid-cols-2 gap-12 items-start"
  >
    <h1 class="text-4xl !mb-0">Subgrid Example</h1>
    <!-- Using "grid" class along with "prose" class to fix pre wrapping issue on mobile. GitHub Issue: https://github.com/tailwindlabs/tailwindcss-typography/issues/96#issuecomment-1017139288 -->
    <div class="prose grid lg:row-start-2">
      <pre><p>CSS</p><code class="language-css" is:raw>.card-container-subgrid-example {
  display: grid;
  gap: theme("gap.4");
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card-subgrid-example {
  display: grid;
  gap: theme("gap.5");
  grid-row: span 3;
  grid-template-rows: subgrid;
}</code></pre>
      <pre
        class="mt-0"><p>HTML</p><code class="language-html" is:raw>&lt;section class="card-container-subgrid-example"&gt;
  &lt;div class="card-subgrid-example"&gt;
    &lt;p&gt;
      Lorem Ipsum
    &lt;/p&gt;
    &lt;div&gt;
      &lt;p&gt;
        Nam nec vestibulum ex. Phasellus augue nibh, accumsan vel
        iaculis eu, fermentum nec urna. Sed in enim egestas, auctor
        nisi eu, faucibus felis.
      &lt;/p&gt;
      &lt;p&gt;
        Duis ligula dui, pellentesque dignissim tellus et, luctus
        gravida tellus. Vivamus eleifend nisi sed urna varius, ut
        eleifend arcu interdum.
      &lt;/p&gt;
    &lt;/div&gt;
    &lt;button type="button"&gt;CTA Button&lt;/button&gt;
  &lt;/div&gt;
&lt;/section&gt;</code></pre>
    </div>
    <section
      class="card-container-subgrid-example lg:!grid-cols-3 lg:row-start-2"
    >
      {
        [...Array(6)].map((_, index) => {
          return (
            <div class="card-subgrid-example p-6 bg-slate-200 dark:bg-slate-700 rounded">
              <p class="font-semibold !text-cyan-500 border-b border-b-slate-500 border-opacity-25 pb-2">
                {index + 1}. Lorem Ipsum
              </p>
              <div class="text-sm dark:[&>p]:text-slate-300 border-b border-b-slate-500 border-opacity-25 pb-2">
                <p>
                  Nam nec vestibulum ex. Phasellus augue nibh, accumsan vel
                  iaculis eu, fermentum nec urna. Sed in enim egestas, auctor
                  nisi eu, faucibus felis.
                </p>
                {index % 2 === 0 && (
                  <p>
                    Duis ligula dui, pellentesque dignissim tellus et, luctus
                    gravida tellus. Vivamus eleifend nisi sed urna varius, ut
                    eleifend arcu interdum.
                  </p>
                )}
              </div>
              <button
                class="rounded bg-slate-300 text-slate-500 dark:text-slate-700 p-2 text-xs font-bold"
                type="button"
              >
                CTA Button
              </button>
            </div>
          );
        })
      }
    </section>
  </div>
</Layout>

<style>
  /* Creates 2 columns; each column is exactly 1fr */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .grid-item {
    width: 200px;
    height: 200px;

    padding: 2rem;
  }

  /* Creates 2 columns; each column can be between 0 and 1fr */
  .flexible-grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  .flexible-grid-item {
    width: 200px;
    height: 200px;
    padding: 2rem;
  }

  .card-container-subgrid-example {
    display: grid;
    gap: theme("gap.4");
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card-subgrid-example {
    display: grid;
    gap: theme("gap.5");
    grid-row: span 3;
    grid-template-rows: subgrid;
  }
</style>
