@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Comic Neue";
    font-style: normal;
    font-weight: bold;
    src:
      local("Comic Neue Bold"),
      local("ComicNeue-Bold"),
      url("/fonts/ComicNeue-Bold.woff2") format("woff2"),
      url("/fonts/ComicNeue-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Comic Neue";
    font-style: normal;
    font-weight: normal;
    src:
      local("Comic Neue Regular"),
      local("ComicNeue-Regular"),
      url("/fonts/ComicNeue-Regular.woff2") format("woff2"),
      url("/fonts/ComicNeue-Regular.woff") format("woff");
  }

  pre {
    @apply opacity-0;
    @apply transition-opacity;
    @apply duration-500;
    @apply ease-in-out;

    p {
      @apply !m-0;
    }

    code {
      @apply !bg-transparent;
      @apply !leading-relaxed;
      @apply !p-2;
    }
  }

  pre:has(.hljs) {
    @apply opacity-100;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(2rem);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-2rem);
  }
}

::view-transition-old(main) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(main) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
