@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Comic Neue";
    font-style: normal;
    font-weight: bold;
    src:
      local("Comic Neue Bold"),
      local("ComicNeue-Bold"),
      url("/fonts/ComicNeue-Bold.woff2") format("woff2"),
      url("/fonts/ComicNeue-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "Comic Neue";
    font-style: normal;
    font-weight: normal;
    src:
      local("Comic Neue Regular"),
      local("ComicNeue-Regular"),
      url("/fonts/ComicNeue-Regular.woff2") format("woff2"),
      url("/fonts/ComicNeue-Regular.woff") format("woff");
  }

  pre {
    @apply opacity-0;
    @apply transition-opacity;
    @apply duration-500;
    @apply ease-in-out;

    p {
      @apply !m-0;
    }

    code {
      @apply !bg-transparent;
      @apply !leading-relaxed;
      @apply !p-2;
    }
  }

  pre:has(.hljs) {
    @apply opacity-100;
  }

  a:is([target="_blank"], [href^="#"])::after {
    @apply bg-no-repeat;
    @apply content-[""];
    @apply h-3;
    @apply inline-block;
    @apply ml-1.5;
    @apply w-3;
  }

  a[target="_blank"]::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.5 3.5v11h11V10H14v5a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v1.5H1.5Z' fill='%23475569' /%3E%3Cpath d='m15.922 1.178-8.907 8.907-1.06-1.06L14.86.118l1.06 1.06Z' fill='%23475569' /%3E%3Cpath d='M7.5 0H16v1.5H7.5V0Z' fill='%23475569' /%3E%3Cpath d='M16 0v8.5h-1.5V0H16Z' fill='%23475569' /%3E%3C/svg%3E");
  }

  a[href^="#"]::after {
    @apply h-4;
    @apply w-4;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 172 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m171.404 146.351-9.853-44.069a3.36 3.36 0 0 0-5.768-1.526l-30.347 33.44a3.362 3.362 0 0 0 2.678 5.614l11.524-.652c-1.925 6.526-6.686 12.648-13.872 17.692-5.952 4.177-13.066 7.289-20.867 9.202a8.214 8.214 0 0 1-7.038-1.518 8.223 8.223 0 0 1-3.147-6.475V82.591c7.954-2.902 14.063-9.66 16.067-18h24.828a6.938 6.938 0 1 0 0-13.875h-25.384A25.612 25.612 0 0 0 94.714 34.68v-4.684c4.538-2.886 7.551-7.955 7.551-13.73C102.265 7.281 94.983 0 86 0c-8.982 0-16.264 7.282-16.264 16.265 0 5.776 3.013 10.845 7.551 13.73v4.685a25.61 25.61 0 0 0-15.51 16.036H36.39a6.937 6.937 0 1 0 0 13.875h24.83c2.004 8.34 8.113 15.097 16.066 18v75.468a8.228 8.228 0 0 1-6.49 8.043 8.226 8.226 0 0 1-3.694-.049c-7.802-1.914-14.916-5.026-20.868-9.203-7.187-5.043-11.947-11.165-13.873-17.691l11.525.651a3.356 3.356 0 0 0 3.223-1.908 3.358 3.358 0 0 0-.545-3.705l-30.348-33.44a3.361 3.361 0 0 0-5.768 1.525L.596 146.351a3.36 3.36 0 0 0 5.103 3.556l9.783-6.318c2.927 10.491 10.04 20.015 20.74 27.525 5.61 3.938 11.968 7.135 18.833 9.523 11.611 4.038 22.251 10.669 30.944 19.362L86 200v-.001c8.766-8.766 19.236-15.29 30.945-19.362 6.865-2.388 13.222-5.585 18.833-9.523 10.7-7.51 17.813-17.034 20.74-27.525l9.783 6.318a3.36 3.36 0 0 0 5.103-3.556ZM86 70.251c-6.404 0-11.615-5.21-11.615-11.615S79.595 47.02 86 47.02s11.615 5.21 11.615 11.615c0 6.404-5.21 11.614-11.615 11.614Z' fill='%23475569' /%3E%3C/svg%3E");
  }

  .dark {
    a[target="_blank"]::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.5 3.5v11h11V10H14v5a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v1.5H1.5Z' fill='%2394a3b8' /%3E%3Cpath d='m15.922 1.178-8.907 8.907-1.06-1.06L14.86.118l1.06 1.06Z' fill='%2394a3b8' /%3E%3Cpath d='M7.5 0H16v1.5H7.5V0Z' fill='%2394a3b8' /%3E%3Cpath d='M16 0v8.5h-1.5V0H16Z' fill='%2394a3b8' /%3E%3C/svg%3E");
    }

    a[href^="#"]::after {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 172 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m171.404 146.351-9.853-44.069a3.36 3.36 0 0 0-5.768-1.526l-30.347 33.44a3.362 3.362 0 0 0 2.678 5.614l11.524-.652c-1.925 6.526-6.686 12.648-13.872 17.692-5.952 4.177-13.066 7.289-20.867 9.202a8.214 8.214 0 0 1-7.038-1.518 8.223 8.223 0 0 1-3.147-6.475V82.591c7.954-2.902 14.063-9.66 16.067-18h24.828a6.938 6.938 0 1 0 0-13.875h-25.384A25.612 25.612 0 0 0 94.714 34.68v-4.684c4.538-2.886 7.551-7.955 7.551-13.73C102.265 7.281 94.983 0 86 0c-8.982 0-16.264 7.282-16.264 16.265 0 5.776 3.013 10.845 7.551 13.73v4.685a25.61 25.61 0 0 0-15.51 16.036H36.39a6.937 6.937 0 1 0 0 13.875h24.83c2.004 8.34 8.113 15.097 16.066 18v75.468a8.228 8.228 0 0 1-6.49 8.043 8.226 8.226 0 0 1-3.694-.049c-7.802-1.914-14.916-5.026-20.868-9.203-7.187-5.043-11.947-11.165-13.873-17.691l11.525.651a3.356 3.356 0 0 0 3.223-1.908 3.358 3.358 0 0 0-.545-3.705l-30.348-33.44a3.361 3.361 0 0 0-5.768 1.525L.596 146.351a3.36 3.36 0 0 0 5.103 3.556l9.783-6.318c2.927 10.491 10.04 20.015 20.74 27.525 5.61 3.938 11.968 7.135 18.833 9.523 11.611 4.038 22.251 10.669 30.944 19.362L86 200v-.001c8.766-8.766 19.236-15.29 30.945-19.362 6.865-2.388 13.222-5.585 18.833-9.523 10.7-7.51 17.813-17.034 20.74-27.525l9.783 6.318a3.36 3.36 0 0 0 5.103-3.556ZM86 70.251c-6.404 0-11.615-5.21-11.615-11.615S79.595 47.02 86 47.02s11.615 5.21 11.615 11.615c0 6.404-5.21 11.614-11.615 11.614Z' fill='%2394a3b8' /%3E%3C/svg%3E");
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(2rem);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-2rem);
  }
}

::view-transition-old(main) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(main) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
