---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="HD's Round Table: Table of Contents">
  <section class="container prose lg:prose-lg">
    <h1 class="text-4xl">Table of Contents</h1>
    <ol>
      <li><a href="/container-queries">Container Queries</a></li>
      <li><a href="/cascade-layers">Cascade Layers</a></li>
      <li><a href="/subgrid">Subgrid</a></li>
      <li><a href="/has-selector">The <code>:has()</code> Selector</a></li>
      <li><a href="/nesting">CSS Nesting</a></li>
    </ol>
    <h2>Bonus Content</h2>
    <ul>
      <li><a href="/view-transitions-api">View Transitions API</a></li>
      <li><a href="/scoping">CSS Scoping</a></li>
      <li>
        <a href="/property-at-rule">The <code>@property</code> at-rule</a>
      </li>
      <li><a href="/scroll-driven-animations">Scroll-driven Animations</a></li>
    </ul>
    <h3>Resource List</h3>
    <h4>Container Queries</h4>
    <ul>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries#using_container_queries"
          rel="noopener noreferrer"
          target="_blank">MDN - Using container queries</a
        >
      </li>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_size_and_style_queries"
          rel="noopener noreferrer"
          target="_blank">MDN - Container size and style queries</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=uumZV98zHt8"
          rel="noopener noreferrer"
          target="_blank"
          >Intrinsic CSS with Container Queries and Units with Miriam Suzanne</a
        >
      </li>
      <li>
        <a
          href="https://github.com/tailwindlabs/tailwindcss-container-queries?tab=readme-ov-file#tailwindcsscontainer-queries"
          rel="noopener noreferrer"
          target="_blank"><code>@tailwindcss/container-queries</code></a
        >
      </li>
    </ul>
    <h4>Subgrid</h4>
    <ul>
      <li>
        <a
          href="https://web.dev/articles/css-subgrid"
          rel="noopener noreferrer"
          target="_blank"
        >
          web.dev article on subgrid basics</a
        >
      </li>
      <li>
        <a
          href="https://www.miriamsuzanne.com/2019/10/15/subgrid-cards/"
          rel="noopener noreferrer"
          target="_blank"
        >
          Subgrid for Better Card Layouts - Miriam Suzanne</a
        >
      </li>
    </ul>
    <h4>Misc.</h4>
    <ul>
      <li>
        <a
          href="https://frontendmasters.com/blog/what-you-need-to-know-about-modern-css-spring-2024-edition"
          rel="noopener noreferrer"
          target="_blank">Frontend Masters article on latest CSS features</a
        >
      </li>
      <li>
        <a
          href="https://web.dev/articles/5-css-snippets-every-front-end-developer-should-know-in-2024"
          rel="noopener noreferrer"
          target="_blank"
          >web.dev article on useful CSS snippets (2024 edition)</a
        >
      </li>
      <li>
        <a
          href="https://web.dev/articles/6-css-snippets-every-front-end-developer-should-know-in-2023"
          rel="noopener noreferrer"
          target="_blank"
          >web.dev article on useful CSS snippets (2023 edition)</a
        >
      </li>
      <li>
        <a
          href="https://developer.chrome.com/blog/whats-new-css-ui-2023"
          rel="noopener noreferrer"
          target="_blank"
          >web.dev article on CSS new features addition (2023 edition)</a
        >
      </li>
    </ul>
  </section>
</Layout>
