---
import Layout from "../../layouts/Layout.astro";
---

<script>
  const anchorLinkList = document.querySelectorAll('a[href^="#"]');

  anchorLinkList.forEach((anchorLink) => {
    anchorLink.addEventListener("click", ($event) => {
      $event.preventDefault();

      const scrollTargetID = anchorLink.getAttribute("href")?.slice(1);
      const targetElement = document.getElementById(scrollTargetID || "");

      if (targetElement) {
        const mainNavHeight = document
          .querySelector(".main-nav")
          ?.getBoundingClientRect()?.height;

        window.scrollTo({
          behavior: "smooth",
          top:
            targetElement.offsetTop - (mainNavHeight ? mainNavHeight + 8 : 0),
        });
      }
    });
  });
</script>

<Layout title="HD's Round Table: Table of Contents">
  <section class="container prose lg:prose-lg">
    <h1 class="text-4xl">Table of Contents</h1>
    <ol>
      <li>
        <a href="/container-queries">Container Queries</a><a
          aria-label="Go to Container Queries resources"
          href="#container-queries"></a>
      </li>
      <li>
        <a href="/cascade-layers">Cascade Layers</a><a
          aria-label="Go to Cascade Layers resources"
          href="#cascade-layers"></a>
      </li>
      <li>
        <a href="/subgrid">Subgrid</a><a
          aria-label="Go to Subgrid resources"
          href="#subgrid"></a>
      </li>
      <li>
        <a href="/has-selector">The <code>:has()</code> Selector</a><a
          aria-label="Go to The :has() Selector resources"
          href="#has-selector"></a>
      </li>
      <li>
        <a href="/css-nesting">CSS Nesting</a><a
          aria-label="Go to CSS Nesting resources"
          href="#css-nesting"></a>
      </li>
    </ol>
    <h2 class="cursor-wait select-none">
      <span class="line-through opacity-15">Bonus Content</span>
      <span class="text-lg italic motion-safe:animate-pulse"
        >(Coming Soon!)</span
      >
      🐒
    </h2>
    <ul class="opacity-15 pointer-events-none select-none">
      <li><a href="/view-transitions-api">View Transitions API</a></li>
      <li><a href="/nth-of"><code>nth-of</code> syntax</a></li>
      <li><a href="/scoping">CSS Scoping</a></li>
      <li>
        <a href="/property-at-rule">The <code>@property</code> at-rule</a>
      </li>
      <li><a href="/scroll-driven-animations">Scroll-driven Animations</a></li>
    </ul>
    <h3>Resource List</h3>
    <h4 id="container-queries">Container Queries</h4>
    <ul>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries#using_container_queries"
          rel="noopener noreferrer"
          target="_blank">MDN - Using container queries</a
        >
      </li>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_size_and_style_queries"
          rel="noopener noreferrer"
          target="_blank">MDN - Container size and style queries</a
        >
      </li>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_logical_properties_and_values/Basic_concepts_of_logical_properties_and_values#block_and_inline_dimensions"
          rel="noopener noreferrer"
          target="_blank"
          >MDN - CSS logical properties and values - Block and inline dimensions</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=uumZV98zHt8"
          rel="noopener noreferrer"
          target="_blank"
          >Intrinsic CSS with Container Queries and Units with Miriam Suzanne</a
        >
      </li>
      <li>
        <a
          href="https://github.com/tailwindlabs/tailwindcss-container-queries?tab=readme-ov-file#tailwindcsscontainer-queries"
          rel="noopener noreferrer"
          target="_blank"><code>@tailwindcss/container-queries</code></a
        >
      </li>
    </ul>
    <h4 id="cascade-layers">Cascade Layers</h4>
    <ul>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_layers"
          rel="noopener noreferrer"
          target="_blank"
        >
          MDN - Cascade Layers
        </a>
      </li>
      <li>
        <a
          href="https://css-tricks.com/css-cascade-layers/"
          rel="noopener noreferrer"
          target="_blank">CSS Tricks - A Complete Guide to CSS Cascade Layers</a
        >
      </li>
      <li>
        <a
          href="https://developer.chrome.com/blog/cascade-layers"
          rel="noopener noreferrer"
          target="_blank"
          >Chrome for Developers Blog - Cascade layers are coming to your
          browser</a
        >
      </li>
    </ul>
    <h4 id="subgrid">Subgrid</h4>
    <ul>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout"
          rel="noopener noreferrer"
          target="_blank"
        >
          MDN - Basic concepts of grid layout</a
        >
      </li>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Subgrid"
          rel="noopener noreferrer"
          target="_blank"
        >
          MDN - Subgrid</a
        >
      </li>
      <li>
        <a
          href="https://css-tricks.com/snippets/css/complete-guide-grid/"
          rel="noopener noreferrer"
          target="_blank"
        >
          CSS Tricks - A Complete Guide to CSS Grid</a
        >
      </li>
      <li>
        <a
          href="https://web.dev/articles/css-subgrid"
          rel="noopener noreferrer"
          target="_blank"
        >
          web.dev article on subgrid basics</a
        >
      </li>
      <li>
        <a
          href="https://www.miriamsuzanne.com/2019/10/15/subgrid-cards/"
          rel="noopener noreferrer"
          target="_blank"
        >
          Subgrid for Better Card Layouts - Miriam Suzanne</a
        >
      </li>
    </ul>
    <h4 id="has-selector">The <code>:has()</code> Selector</h4>
    <ul>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/:has"
          rel="noopener noreferrer"
          target="_blank">MDN - <code>:has()</code></a
        >
      </li>
      <li>
        <a
          href="https://developer.chrome.com/blog/whats-new-css-ui-2023#has"
          rel="noopener noreferrer"
          target="_blank"
          >Chrome for Developers Blog - What's new in CSS and UI: I/O 2023
          Edition - <code>:has()</code></a
        >
      </li>
      <li>
        <a
          href="https://developer.chrome.com/blog/has-m105"
          rel="noopener noreferrer"
          target="_blank"
          >Chrome for Developers Blog - <code>:has()</code>: the family selector</a
        >
      </li>
    </ul>
    <h4 id="css-nesting">CSS Nesting</h4>
    <ul>
      <li>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Nesting"
          rel="noopener noreferrer"
          target="_blank">MDN - CSS Nesting</a
        >
      </li>
      <li>
        <a
          href="https://developer.chrome.com/docs/css-ui/css-nesting"
          rel="noopener noreferrer"
          target="_blank"
        >
          Chrome for Developers Docs - CSS Nesting
        </a>
      </li>
    </ul>
    <h4>Misc.</h4>
    <ul>
      <li>
        <a
          href="https://frontendmasters.com/blog/what-you-need-to-know-about-modern-css-spring-2024-edition"
          rel="noopener noreferrer"
          target="_blank">Frontend Masters article on latest CSS features</a
        >
      </li>
      <li>
        <a
          href="https://web.dev/articles/5-css-snippets-every-front-end-developer-should-know-in-2024"
          rel="noopener noreferrer"
          target="_blank"
          >web.dev article on useful CSS snippets (2024 edition)</a
        >
      </li>
      <li>
        <a
          href="https://web.dev/articles/6-css-snippets-every-front-end-developer-should-know-in-2023"
          rel="noopener noreferrer"
          target="_blank"
          >web.dev article on useful CSS snippets (2023 edition)</a
        >
      </li>
      <li>
        <a
          href="https://developer.chrome.com/blog/whats-new-css-ui-2023"
          rel="noopener noreferrer"
          target="_blank"
          >web.dev article on CSS new features addition (2023 edition)</a
        >
      </li>
      <li>
        <a
          href="https://web.dev/articles/rendering-performance"
          rel="noopener noreferrer"
          target="_blank">web.dev article on rendering performance</a
        >
      </li>
    </ul>
  </section>
</Layout>
