---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import HueRotateText from "../components/HueRotateText.astro";
import localShockedMonkeyImage from "../img/shocked-monkey-192.png";
---

<Layout
  bodyClassName="overflow-x-hidden"
  title="HD's Round Table: Latest CSS Features Intro"
>
  <main class="container flex flex-wrap items-start justify-center pt-[32lvh]">
    <h1 class="font-display text-5xl lg:text-6xl -indent-4 pl-4 leading-[0.5]">
      <HueRotateText className="font-bold bg-red-600">C</HueRotateText
      ><HueRotateText className="font-bold bg-sky-500">S</HueRotateText
      ><HueRotateText className="font-bold bg-orange-400">S</HueRotateText>
      <span class="text-3xl lg:text-4xl text-sky-500">is</span>
      <br /><em
        class="text-6xl lg:text-7xl drop-shadow-glow motion-safe:animate-pulse text-orange-400"
        >awesome!</em
      >
    </h1>
    <Image
      class="motion-safe:animate-rotate-scale-translate"
      alt="A shocked monkey puppet."
      loading="eager"
      src={localShockedMonkeyImage}
    />
  </main>
</Layout>
