---
import { Image } from "astro:assets";
import HueRotateText from "../components/HueRotateText.astro";
import localShockedMonkeyImage from "../img/shocked-monkey-192.png";
import Layout from "../layouts/Layout.astro";
---

<Layout
  bodyClassName="bg-gradient-to-br from-violet-700 to-rose-800 h-lvh relative before:content before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-noise before:mix-blend-soft-light before:opacity-75"
  title="HD's Round Table: Latest CSS Features Intro"
>
  <main class="container flex lg:justify-center pt-[32lvh]">
    <div>
      <h1
        class="select-none font-display text-5xl lg:text-6xl border-4 w-40 lg:w-48 p-4 border-cyan-500 !leading-[0.75] relative"
      >
        <div class="absolute h-full w-full overflow-hidden top-0 left-0">
          <Image
            class="motion-safe:animate-rotate-scale-translate opacity-10 absolute -top-6 -left-1/4"
            alt="A shocked monkey puppet."
            loading="eager"
            src={localShockedMonkeyImage}
          />
        </div>
        <HueRotateText className="font-bold bg-orange-500">C</HueRotateText
        ><HueRotateText className="font-bold bg-green-500">S</HueRotateText
        ><HueRotateText className="font-bold bg-blue-500">S</HueRotateText>
        <br />
        <span class="text-3xl lg:text-4xl text-red-500">is</span>
        <br />
        <em class="text-6xl lg:text-7xl text-cyan-500 !leading-[0.75]"
          >awesome!</em
        >
      </h1>
      <a
        class="mt-2 font-display flex gap-1.5 items-center w-fit text-cyan-500 font-semibold hover:text-sky-500 transition-colors duration-300 ease-in-out"
        href="/subgrid"
        >Let's start!
        <svg
          class="h-4 w-4 motion-safe:animate-hue-rotate text-red-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          fill="currentColor"
        >
          <g>
            <path
              transform="matrix(2.81 0 0 2.81 1.407 1.407)"
              d="M90 45 55.07 4.97 40.76 17.45 64.8 45 40.76 72.55l14.31 12.48z"
            ></path>
            <path
              transform="matrix(2.81 0 0 2.81 1.407 1.407)"
              d="M49.24 45 14.31 4.97 0 17.45 24.04 45 0 72.55l14.31 12.48z"
            ></path>
          </g>
        </svg></a
      >
    </div>
  </main>
</Layout>
