---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HD's Round Table: CSS Subgrid">
  <main class="container grid gap-5 h-lvh grid-rows-[auto,1fr] pt-24">
    <h1 class="text-gray-100 font-bold text-5xl">Subgrid</h1>
    <p class="text-gray-300 max-w-prose">
      Subgrid is a new value for the grid-template-columns and
      grid-template-rows properties. It allows the child elements of a grid
      container to use the same grid definition as the parent, without having to
      define the grid again.
    </p>
  </main>
</Layout>
