---
import "../styles/base.css";
import "highlight.js/styles/vs2015.min.css";
import MainNav, {
  type Props as MainNavProps,
} from "../components/MainNav.astro";

interface Props {
  bodyClassName?: string;
  description?: string;
  mainClassName?: string;
  mainNavConfiguration?: MainNavProps;
  title: string;
}

const {
  bodyClassName,
  description = "Presentation showcasing the latest CSS features introduced in 2023 and early 2024, aimed at enhancing developers' proficiency in modern web design.",
  mainClassName,
  mainNavConfiguration,
  title = "HD's Round Table: Latest CSS Features",
} = Astro.props;
---

<script>
  import hljs from "highlight.js";
  import { setThemeStorage } from "../components/ThemeSelector";

  hljs.highlightAll();

  setThemeStorage();
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class:list={[
      "bg-slate-100 dark:bg-slate-800 overflow-y-scroll transition-colors",
      [
        "prose-headings:font-light",
        "prose-headings:mt-0",
        "dark:prose-pre:bg-gray-900",
        "prose-headings:text-slate-400",
        "dark:prose-headings:text-slate-300",
        "prose-p:text-slate-600",
        "dark:prose-p:text-slate-400",
        "prose-a:text-slate-500",
        "dark:prose-a:text-slate-400",
        "prose-ul:text-slate-600",
        "dark:prose-ul:text-slate-400",
        "prose-code:!text-inherit",
        "md:prose-code:text-sm",
        "prose-code:bg-opacity-15",
        "prose-code:bg-slate-500",
        "prose-code:font-normal",
        "prose-code:px-1.5",
        "prose-code:py-1",
        "prose-code:rounded",
        "prose-code:!text-rose-500",
        "dark:prose-code:!text-amber-500",
        "dark:prose-pre:bg-gray-900",
      ],
      bodyClassName,
    ]}
  >
    <header class="sticky top-0 z-10">
      <MainNav {...mainNavConfiguration} />
    </header>
    <main
      class:list={["pt-16 lg:pt-24 pb-8 lg:pb-12", mainClassName]}
      style={{ "view-transition-name": "main" }}
    >
      <slot />
    </main>
  </body>
</html>
