---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="HD's Round Table: CSS Nesting Example"
  mainNavConfiguration={{
    isBackLink: true,
    linkSource: "/css-nesting",
    linkTitle: "Back",
  }}
>
  <div
    class="px-4 max-w-screen-2xl mx-auto grid lg:grid-cols-2 gap-12 items-start"
  >
    <h1 class="text-4xl !mb-0">CSS Nesting Example</h1>
    <!-- Using "grid" class along with "prose" class to fix pre wrapping issue on mobile. GitHub Issue: https://github.com/tailwindlabs/tailwindcss-typography/issues/96#issuecomment-1017139288 -->
    <div class="prose grid lg:row-start-2">
      <pre><p>CSS</p><code class="language-css" is:raw>.nesting-example {
  #nestingExampleTitle,
  .nesting-example__title,
  [data-nesting-example="title"] {
    /* Following selector is invalid. */
    &--highlight {
      color: theme("colors.cyan.500");
    }

    .nesting-example__title-highlight {
      color: theme("colors.cyan.500");
    }
  }

  .nesting-example__content {
    color: theme("colors.cyan.500");
  }
}</code></pre>
      <pre
        class="mt-0"><p>HTML</p><code class="language-html" is:raw>&lt;div
  class="nesting-example"
&gt;
  &lt;p
    id="nestingExampleTitle"
    class="nesting-example__title"
    data-nesting-example="title"
  &gt;
    &lt;span class="nesting-example__title-highlight"&gt;Lorem&lt;/span&gt; Ipsum
  &lt;/p&gt;
  &lt;p class="nesting-example__content"&gt;
    Dolor sit amet consectetur adipiscing elit curabitur.
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
    </div>
    <section class="lg:row-start-2">
      <div
        class="nesting-example grid gap-4 dark:bg-slate-700 p-4 rounded
      border border-slate-500 border-opacity-10 dark:border-opacity-15
      grid-rows-subgrid row-span-2"
      >
        <p
          id="nestingExampleTitle"
          class="nesting-example__title font-semibold"
          data-nesting-example="title"
        >
          <span class="nesting-example__title-highlight">Lorem</span> Ipsum
        </p>
        <p class="nesting-example__content">
          Dolor sit amet consectetur adipiscing elit curabitur.
        </p>
      </div>
    </section>
  </div>
</Layout>

<style>
  .nesting-example {
    #nestingExampleTitle,
    .nesting-example__title,
    [data-nesting-example="title"] {
      /* Following selector is invalid. */
      &--highlight {
        color: theme("colors.cyan.500");
      }

      .nesting-example__title-highlight {
        color: theme("colors.cyan.500");
      }
    }

    .nesting-example__content {
      color: theme("colors.cyan.500");
    }
  }
</style>
